.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 1vmin);
  color: white;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 100s linear;
  }
}

.App-link {
  color: #61dafb;
}

.Distance {
  font-size: calc(10px + 10vmin);
}

.button {
  border: 1px #2591D8;
  border-radius: 8px;
  background-color: #2591D8;
  color: white;
  font-size: calc(10px + 5vmin);
  padding: 1vmin;
  margin: 1vmin;
}

.search-bar {
  font-size: calc(10px + 5vmin);
  color:  #282c34;
  width: 80%;
}

.sidey {
  width: 50vmin;
}

.System {
  min-width: 400px;
  width: 85vmin;
  border: 2px solid;
  padding: 2vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d9dbdd;
  color: #282c34;
  font-size: calc(10px + 2vmin);
}

.system-name {
  display: flex;
  flex-wrap: wrap;
}

.coords {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: calc(10px + 1vmin)
}

.x-coords {
  color: #8d392f;
}

.y-coords {
  color: #4b9763;
}

.z-coords {
  color: #226b9c;
}

.origin-badge {
  border: 2px solid #4b9763;
  background-color: #4b9763;
  color: #d9dbdd;
  padding: 1vmin
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
